<header class="bg-white dark:bg-surface-800 shadow-sm">
  <nav class="container mx-auto px-6 py-4 flex items-center justify-between">
    <div class="text-2xl font-bold text-primary">SIE</div>
    <p-menubar [model]="menuItems">
      <ng-template #item let-item>
        <a
          [routerLink]="item.routerLink"
          class="flex items-center gap-2 hover:text-primary-emphasis transition px-3 py-1.5"
        >
          @if(item.icon){
          <ng-icon [name]="item.icon"></ng-icon>
          }
          {{ item.label }}
        </a>
      </ng-template>
    </p-menubar>
    <div class="space-x-4">
      <!-- <p-button variant="outlined" label="Inicia sesión"></p-button>
      <p-button label="Regístrate"></p-button> -->
    </div>
  </nav>
</header>
